/* NAVBAR */

body{
    background-color: aliceblue;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Admin{
    color: white;
    margin-bottom: 40px;
    font-size: 25px;
    margin-left: 10px;
}

.Sidebar{
    background-color: navy;
    width: 270px;
    height: 100vh;
    padding: 30px;
    position: fixed;
}

.Sidebar nav{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.Sidebar nav a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    border-radius: 15px;
    transition: 0.5s;
}

.Sidebar nav a:hover,
.Sidebar a.Dash{
    background-color: blue;
    transition: 0.5s;
}

.Sidebar a.Dash:hover{
    background-color: rgb(44, 44, 176);
}


.Sidebar_down{
    margin-top: 170px;
}

.Sidebar_down a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 15px;
    transition: 0.5s;
}

.Sidebar_down a:hover{
    color: red;
}





.Second_Statement{
    margin-left: 300px;
    padding: 30px;
    width: 79%;
}

.header_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header_info h1{
    font-size: 35px;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header_info p{
    font-size: 20px;
    color: rgb(124, 123, 123);
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.New{
    background-color: blue;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    transition: 0.5s;
    cursor: pointer;
    font-weight: bold;
    margin-left: -45px;
    gap: 30px;
}

.New:hover{
    background-color: rgb(4, 4, 210);
}

.New  i{
    color: white;
}


.form_Container{
    display: none;
    background-color: white;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.Create{
    margin-bottom: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

.form_group{
    margin-bottom: 17px;
}

.form_group input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid rgb(180, 178, 178);
}

.form_group textarea{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    resize: none;
    height: 20vh;
    border: 2px solid rgb(180, 178, 178);
}

.Publish{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    transition: 0.5s;
    cursor: pointer;
}

.Publish:hover{
    background-color: rgb(4, 4, 210);
}

.Publish i{
    margin-left: -10px;
}

.Cancel{
    background-color: rgb(213, 213, 213);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    transition: 0.5s;
    cursor: pointer;
    margin-left: 5px;
}

.Cancel:hover{
    background-color: rgb(188, 187, 187);
}

.phase{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    gap: 25px;
}

.phase_one { 
    background-color: aliceblue; 
    padding: 20px; 
    border-radius: 10px; 
    position: relative; 
}


.phase i{
   font-size: 20px;
}

.phase_one h1{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 13px;
    margin-top: -10px;
}

.phase_one p{
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 13px;
}


.phase_one button{
   border: none;
   padding: 5px 10px;
   background-color: rgb(252, 217, 217);
   color: rgb(238, 2, 2);
   transition: 0.5s;
   border-radius: 5px;
   cursor: pointer;
}

.phase_one button:hover{
   background-color: rgb(238, 178, 178);
}


.Hamburger{
    display: none;
    position: fixed;
    font-size: 23px;
    border: none;
    border-radius: 10px;
    background-color: navy;
    color: white;
    cursor: pointer;
    margin-bottom: 25px;
    padding: 7px; 
    margin-left: 15px;
    margin-top: 15px;
}




@media (max-width: 768px) {

    body{
        background-color: aliceblue;
        /* overflow-x: hidden; */
    }
    
    .Hamburger{
        display: block;
        top: 15px;
        left: 5px;
    }

    .Admin{
    color: white;
    margin-bottom: 50px;
    margin-top: 3px;
    font-size: 25px;
    margin-left: 45px;
    }

    .Admin_Profile{
    display: flex;
    justify-content: space-between;
    position:fixed;
    background-color: white;
    padding: 8px;
    border-radius: 15px;
    top: 50px;
    left: 150px;
    }


    .Sidebar{
        background-color: navy;
        width: 270px;
        height: 100vh;
        padding: 30px;
        left: -270px;
        margin-top: -80px;
        position: fixed;
        transition: 0.7s;
        z-index: 1;
    }

    .Sidebar.bar{
        left: 0px;
        transition: 0.7s;
    }
    
    .Sidebar_down{
    margin-top: 215px;
    }

    .Second_Statement{
    margin-left: 0px;
    margin-top: 80px;
    padding: 30px;
    width: 100%;
    }
    

    .New{
    position: fixed;
    top: 34px;
    left: 250px;
    }

    .phase{
     width: 110%;
     margin-left: -17px;
    }

    .form_Container{
    display: none;
    background-color: white;
    padding: 30px;
    width: 110%;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: -10px;
}
}




